@import '../@angular/material/prebuilt-themes/deeppurple-amber.css';

:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .navigation-menu, .content-container {
    box-sizing: border-box;
    width: 100%;
  }

  .navigation-menu {
    background-color: #673ab7;
  }
}

.content-container {
  background-color: #ffffff;
  height: auto;
  min-height: calc(100vh - 40px);
  padding: 20px;
}
